.products-page {
	min-height: 100vh;
	padding-bottom: 3rem;
}

.card-list {
}

.img-saturno {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: auto;
	object-fit: fill;
	height: 300px;
	z-index: -1;
}

.container-title {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
