.card {
  background-color: #BEC3CC;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  height: 350px; /* ajusta la altura según tus necesidades */
  width: 250px; /* ajusta el ancho según tus necesidades */
}

.card > * {
  text-align: left;
  margin: 10px;
  
}


.card > img {
  margin-top: 20px;
  width: 60%;
  height: auto;
}

.card-title 
{
  padding-top: 30px;
  font-weight: 600;
}

.card-description 
{
  padding-top: 15px;
  align-items: left;
}

p, h1, h2, h3 {
  color: black;
}