.card {
  background-color: #BEC3CC;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  height: 350px; /* ajusta la altura según tus necesidades */
  width: 250px; /* ajusta el ancho según tus necesidades */
}

.card > * {
  text-align: left;
}

.card > img {
  width: 180px;
  height: 180px;
}

.card-title 
{
  color: black;
  padding-top: 30px;
  font-weight: 600;
}

.card-subtitle {
  color: black;
}

.card-description 
{
  padding-top: 15px;
  align-items: left;
}

.card-description > p {
  color: black;
}