.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: 64px;
	margin-left: 64px;
	gap: 2rem;
}

@media only screen and (max-width: 576px) {
	.card-list {
		padding-inline: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
