.side-menu__box {
	display: block;
	position: fixed;
	background-color: none;
	width: 100vw;
	height: 100vh;
	top: 0vh;
	left: 0vh;
	z-index: 10;
	pointer-events: none;
	transition: background-color 0.5s ease;
}

.side-menu__card {
	display: block;
	position: fixed;
	padding: 1.5rem;
	background-color: #293856;
	width: 70vw;
	height: 100vh;
	top: 0vh;
	left: -100vh;
	z-index: 20;
	transition: left 0.5s ease;
}

.side-menu__card ul {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.side-menu__card li a {
	font-weight: 700;
	text-shadow: 0px 0px 1px rgb(0 0 0 / 7%);
}

.side-menu__card li a :hover {
	color: rgba(252, 252, 252, 0.75);
}

@media only screen and (min-width: 576px) {
	.side-menu-button {
		display: none;
	}
}
