nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26273e;
    padding: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  nav .logo img {
    height: 100%;
    width: 40%;
  }
  
  nav .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav .nav-links li {
    margin: 0px 30px;
  }
  
  .nav-links li.active a {
    color: yellow;
    font-weight: bold;
  }

  nav .nav-links li a:hover {
    color: #f00;
  }

  nav .nav-logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .nav-logos p{
    margin: 0px 40px;
  }
