header {
	display: flex;
	justify-content: center;
	background-color: #26273e;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 24px;
	max-width: 1440px;
	width: 100%;
	margin: 1.5rem 5rem;
}

nav .logo img {
	max-height: 118px;
	height: 100%;
	width: 100%;
}

nav .nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3.7rem;
}

nav .nav-links li {
	font-size: 18px;
}

.nav-links li.active a {
	color: yellow;
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 15px;
}

nav .nav-links li a:hover {
	color: yellow;
}

nav .nav-logos {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4.5rem;
}
nav .nav-logos li {
	height: auto;
	width: auto;
	font-size: 37px;
}

nav .burger {
	display: none;
}

@media only screen and (max-width: 576px) {
	nav {
		margin: 1rem 2rem;
	}

	nav .nav-links,
	nav .nav-logos {
		display: none;
	}
	nav .logo img {
		margin-left: 10px;
		height: auto;
		max-width: 90px;
		width: 100%;
	}

	nav .burger {
		display: block;
	}
}
