.questions-page__box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.questions-page__box section {
	max-width: 1200px;
	width: 97%;
	display: grid;
	grid-template-columns: 10fr 8fr;
	gap: 1rem;
}

.questions-page__box .image-decoration {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.questions-page__box .image-decoration img {
	object-fit: contain;
	width: 75%;
	transform: rotateY(180deg);
}

@media only screen and (max-width: 576px) {
	.questions-page__box section {
		position: relative;
		width: 95%;
	}

	.questions-page__box .image-decoration img {
		position: absolute;
		z-index: -1;
		transform: rotate(0);
		right: 1rem;
	}
}
