.questions-page__box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.questions-page__box section {
	max-width: 1200px;
	width: 97%;
	display: grid;
	grid-template-columns: 2fr 1fr;
}
