.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 20px;
    background-color: #293856;
  }
  .footer-img {
    height: 100%;
    width: 60%;
  }
  .footer-logo-container {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
  }
  .footer-link {
    margin-left: 40px;
  }
  .footer-links-container {
    margin-top: 30px;
  }
  .footer-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
  }
  .footer-info-email {
    margin-top: 30px;
  }
  .footer-icon {
    margin-right: 10px;
  }