* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	color: #efefef;
	font-weight: 400;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background-color: #26273e;
	min-height: 100vh;
}

.clipped {
	clip: rect(0 0 0 0);
	border: 0;
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	display: block;
	margin: 0 -1px -1px 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	z-index: -1;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
  }