.not-found-page {
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
}

.not-found-page section {
	max-width: 1200px;
	width: 100%;
	position: relative;
}

.not-found-page article {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-shadow: 0 0 9px #00000065;
}

.not-found-page h3 {
	font-size: 25px;
	text-align: center;
	max-width: 750px;
	margin-bottom: 2rem;
}

.not-found-page .page-decoration .first-satellite,
.not-found-page .page-decoration .second-satellite {
	position: absolute;
	z-index: -1;
}

.not-found-page .page-decoration .first-satellite {
	bottom: 0;
	width: 217px;
	left: 1rem;
	transform: rotate(58deg);
}

.not-found-page .page-decoration .second-satellite {
	top: 3rem;
	right: 1rem;
	width: 280px;
	transform: rotate(15deg);
}
