.contact-page__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 3rem;
}

.contact-page__box section {
	max-width: 850px;
	width: 97%;
}

.contact-page__box article h3 {
	font-size: 40px;
	margin-bottom: 4rem;
}

.contact-page__box article h3 span {
	font-weight: 800;
}

.contact-page__box article h4 {
	font-size: 25px;
	margin-bottom: 3.5rem;
}

@media only screen and (max-width: 576px) {
	.contact-page__box section {
		width: 90vw;
	}

	.contact-page__box article {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.contact-page__box article h3,
	.contact-page__box article h4 {
		text-align: center;
	}

	.contact-page__box article h3 {
		font-size: 32px;
	}

	.contact-page__box article h4 {
		margin-bottom: 1rem;
	}
}
